.summary-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.summary-input {
  display: grid;
  grid-template-columns: minmax(10%, 20%) auto;
}

.payment-form__section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.payment-form__section-heading {
  background: lightgray;
  color: black;
  padding: 0.5rem;
}
