.package-selection__item {
  display: flex;
  align-items: baseline;
  margin-bottom: 1rem;
}

.package-selection__item-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1rem;
}

.package-selection__item-label {
  font-weight: bold;
}

.package-selection__item--selected {
  background: lightgray;
}

.package-selection__information {
  display: flex;
}

.package-selection__options {
  display: flex;
  flex-direction: column;
}

.package-selection__option-description {
  background: lightgray;
}

.package-selection__option-features-list {
  list-style: initial;
}
